TZ=Asia/Kolkata
PROJECT_NETWORK_PREFIX=project
PROJECT_DATA_DIR=../data
PROJECT_APPS_DIR=../apps
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=app_db
USE_DOCKER_VOLUMES=true
# USE_DOCKER_VOLUMES=false
POSTGRES_MULTIPLE_DATABASES=authentik_db,dify_db,flowise_db,gitea_db,hoppscotch_db,litellm_db
GLOBAL_API_KEY=change_me_to_a_secure_key
