HOPPSCOTCH_CONTAINER_NAME=hoppscotch
HOPPSCOTCH_HOST_PORT=3010
HOPPSCOTCH_DATABASE_URL=postgresql://change_me:change_me@postgres:5432/app_db
HOPPSCOTCH_DATA_ENCRYPTION_KEY=change_me_encryption_key
HOPPSCOTCH_WHITELISTED_ORIGINS=http://localhost:3010
HOPPSCOTCH_JWT_SECRET=change_me_jwt_secret
HOPPSCOTCH_SESSION_SECRET=change_me_session_secret
HOPPSCOTCH_VITE_BASE_URL=http://localhost:3010
