HOPPSCOTCH_CONTAINER_NAME=hoppscotch
HOPPSCOTCH_DATA_ENCRYPTION_KEY=change_me_encryption_key
HOPPSCOTCH_WHITELISTED_ORIGINS=http://localhost:3010,http://127.0.0.1:3010,http://localhost:3000,app://localhost_3200,app://hoppscotch
HOPPSCOTCH_JWT_SECRET=change_me_jwt_secret
HOPPSCOTCH_SESSION_SECRET=change_me_session_secret
HOPPSCOTCH_VITE_BASE_URL=http://hoppscotch.localhost
